/* Estilização Geral */
body {
    color: white;
    background: #121212;
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
}

/* Cabeçalho */
header {
    background: #1c1c1c;
    border-bottom: 3px solid #2A7AE4;
    padding: 20px;
    font-size: 32px;
    color: #2A7AE4;
    text-align: center;
    font-weight: bold;
}

/* Seção Chamada */
.chamada {
    background: linear-gradient(135deg, #6a3093, #a044ff);
    padding: 80px 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
}

.chamada-texto {
    max-width: 500px;
    text-align: left;
}

.chamada h1 {
    font-size: 42px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.chamada p {
    font-size: 20px;
    opacity: 0.8;
}

iframe {
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

/* Seção Categoria */
.categoria {
    padding: 20px;
    margin-top: 50px;
}

.categoria h2 {
    color: #2A7AE4;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding: 10px;
    justify-content: center;
    scroll-behavior: smooth;
}

.categoria-videos a {
    transition: transform 0.3s ease-in-out;
}

.categoria-videos img {
    opacity: 0.7;
    height: 180px;
    border-radius: 8px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.categoria-videos img:hover {
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 0px 6px 15px rgba(42, 122, 228, 0.8);
}

/* Responsividade */
@media (max-width: 768px) {
    .chamada {
        flex-direction: column;
        text-align: center;
    }

    .chamada-texto {
        text-align: center;
    }

    .categoria-videos {
        justify-content: start;
    }
}
